@model Oljeopardy.Models.JeopardyViewModels.CategoriesViewModel

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    @if ((string)ViewData["Message"] != "")
    {
        <div class="alert alert-success">
            <strong>@ViewData["Message"]</strong>
        </div>
    }
    @if (Model.HasActiveGame)
    {
        <h4>
            Du deltager i et spil.
        </h4>
            <div class="row button-container">
                <button type="button" onclick="loadGame()" class="menubutton">Gå til spillet</button>
            </div>
    }
    else
    {
        @if (Model.ActiveGameExists)
        {
            <div class="row button-container">
                <button type="button" onclick="loadParticipateGame()" class="menubutton">Deltag i et spil</button>
            </div>
        }
        else
        {
            <h4>
                Der er ingen aktive spil.
            </h4>
        }
        <div class="row button-container">
            <button type="button" onclick="loadAddGame()" class="menubutton">Opret nyt spil</button>
        </div>
    }
    <div class="row button-container">
        <form><button type="button" onclick="loadCreateCategory()" class="menubutton">Opret kategori</button></form>
    </div>
    <div style="height:20px"></div>
    @if (@Model.CategoryList != null && Model.CategoryList.Count() > 0)
    {
        @foreach (var category in @Model.CategoryList)
        {
            <div class="category-list-item">
                <div class="row vertical-align">
                    <div class="col-xs-8">
                        @(category.Name)
                    </div>
                    <div class="col-xs-2">
                        <a class="a-button" onclick="editCategory('@(category.Id)')"><i class="fa fa-pencil-square-o fa-lg"></i></a>
                    </div>
                    <div class="col-xs-2">
                        <a class="a-button" onclick="deleteCategory('@(category.Id)')"><i class="fa fa-trash-o fa-lg"></i></a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h4>
            Du har endnu ikke oprettet en kategori.
        </h4>
    }
    <div style="height: 30px"></div>
</div>
<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 3000);
</script>
