@model Oljeopardy.Models.JeopardyViewModels.CategoriesViewModel

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    @if ((string)ViewData["Message"] != "")
    {
        <div class="alert alert-success">
            <strong>@ViewData["Message"]</strong>
        </div>
    }
    <div class="row button-container">
        <form><button type="button" onclick="loadCreateCategory()" class="menubutton">Opret kategori</button></form>
    </div>
    <div style="height:20px"></div>
    @if (@Model.CategoryList != null && Model.CategoryList.Count() > 0)
    {
        @foreach (var category in @Model.CategoryList)
        {
            <div class="category-list-item">
                <div class="row vertical-align">
                    <div class="col-xs-8">
                        @(category.Name)
                    </div>
                    <div class="col-xs-2">
                        <a class="a-button" onclick="editCategory('@(category.Id)')"><i class="fas fa-edit fa-lg"></i></a>
                    </div>
                    <div class="col-xs-2">
                        <a class="a-button" onclick="deleteCategory('@(category.Id)')">
                            <i class="fas fa-trash-alt
                                                                                          fa-lg"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h4>
            Du har endnu ikke oprettet en kategori.
        </h4>
    }
    <div style="height: 30px"></div>
</div>
<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 3000);
</script>
