@model Oljeopardy.Models.JeopardyViewModels.GameViewModel
<h1>@ViewData["Title"]</h1>
<hr />

@if (Model.Game == null)
{
    <div>
        Du deltager ikke i et spil.
    </div>
}
else
{
    <h3>@Model.Game.Name</h3>
    @if (Model.Game.GameStatus == Enums.GameStatus.Finished)
    {
        <div>
            Spillet er slut.
        </div>
    }
    else
    {
        @if (Model.UserTurnType == Enums.TurnType.Choose || Model.UserTurnType == Enums.TurnType.ChooseOwn)
        {
            <form asp-action="SelectAnswer" asp-controller="Game">
                @foreach (var gameCategory in Model.OtherGameCategories)
                {
                    <div class="category-select-container">
                        <div class="row">
                            @gameCategory.Category.Name
                        </div>
                        <div class="row">
                            @if (gameCategory.GameCategory.Won100ParticipantId == Guid.Empty)
                            {
                                <label class="category-radio-button-label active" onclick="selectAnswerQuestion(this)">
                                    100
                                    <input class="category-radio-button" asp-for="ChosenAnswerQuestionGuid" type="radio" value="@gameCategory.Category.AnswerQuestion100.Id" />
                                </label>
                            }
                            else
                            {
                                <label class="category-radio-button-label inactive">
                                    100
                                    <input class="category-radio-button" type="radio" disabled="disabled" />
                                </label>
                            }
                            @if (gameCategory.GameCategory.Won200ParticipantId == Guid.Empty)
                            {
                                <label class="category-radio-button-label active" onclick="selectAnswerQuestion(this)">
                                    200
                                    <input class="category-radio-button" asp-for="ChosenAnswerQuestionGuid" type="radio" value="@gameCategory.Category.AnswerQuestion200.Id" />
                                </label>
                            }
                            else
                            {
                                <label class="category-radio-button-label inactive">
                                    200
                                    <input class="category-radio-button" type="radio" disabled="disabled" />
                                </label>
                            }
                            @if (gameCategory.GameCategory.Won300ParticipantId == Guid.Empty)
                            {
                                <label class="category-radio-button-label active" onclick="selectAnswerQuestion(this)">
                                    300
                                    <input class="category-radio-button" asp-for="ChosenAnswerQuestionGuid" type="radio" value="@gameCategory.Category.AnswerQuestion300.Id" />
                                </label>
                            }
                            else
                            {
                                <label class="category-radio-button-label inactive">
                                    300
                                    <input class="category-radio-button" type="radio" disabled="disabled" />
                                </label>
                            }
                            @if (gameCategory.GameCategory.Won400ParticipantId == Guid.Empty)
                            {
                                <label class="category-radio-button-label active" onclick="selectAnswerQuestion(this)">
                                    400
                                    <input class="category-radio-button" asp-for="ChosenAnswerQuestionGuid" type="radio" value="@gameCategory.Category.AnswerQuestion400.Id" />
                                </label>
                            }
                            else
                            {
                                <label class="category-radio-button-label inactive">
                                    400
                                    <input class="category-radio-button" type="radio" disabled="disabled" />
                                </label>
                            }
                            @if (gameCategory.GameCategory.Won500ParticipantId == Guid.Empty)
                            {
                                <label class="category-radio-button-label active" onclick="selectAnswerQuestion(this)">
                                    500
                                    <input class="category-radio-button" asp-for="ChosenAnswerQuestionGuid" type="radio" value="@gameCategory.Category.AnswerQuestion500.Id" />
                                </label>
                            }
                            else
                            {
                                <label class="category-radio-button-label inactive">
                                    500
                                    <input class="category-radio-button" type="radio" disabled="disabled" />
                                </label>
                            }
                        </div>
                    </div>
                }
                @if (Model.OtherGameCategories.Count > 0)
                {
                    <div style="height:20px;"></div>
                    <div class="row">
                        <input type="button" class="menubutton" value="Vælg" onClick="ValidateForm(this.form, 'SelectAnswerQuestion')" />
                    </div>
                }
                <input asp-for="Game.Id" value="@Model.Game.Id" type="hidden" />
            </form>
        }
        @if (Model.UserTurnType == Enums.TurnType.Read)
        {
            <form asp-controller="Game" asp-action="SelectWinner">
                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <select class="form-control" asp-for="ChosenWinnerId"
                                    asp-items="@(new SelectList(Model.UserList, "UserId", "Name"))" class="dropdown">
                                <option disabled>Vælg vinderen</option>
                            </select>
                        </div>
                        <input type="button" class="menubutton" value="Vælg vinder" onClick="ValidateForm(this.form, 'SelectWinner')" />
                    </div>
                </div>
                <input asp-for="Game.Id" value="@Model.Game.Id" type="hidden" />
            </form>
        }
        @if (Model.UserTurnType == Enums.TurnType.Guess && Model.Game != null)
        {
            @if (Model.Game.UserId != null)
            {
                <div>
                    Det er nogens tur til at vælge kategori.
                </div>
            }
            else
            {
                <div>
                    @Model.LatestCategoryChooserName har valgt @Model.CategoryOwnerName's kategori @Model.ChosenCategoryName.
                </div>
            }
        }
    }
}

<script>
    function checkIfGameChanged() {
        $.getJSON("/checkIfGameChanged", function (data) {
            if (data) {
                window.location.href = "/Home/Game";
            }
            else {
                setTimeout(checkIfGameChanged, 1000);
            }
        })
    };

    setTimeout(checkIfGameChanged, 1000);
</script>