@model Oljeopardy.Models.JeopardyViewModels.GameViewModel
<h1>@ViewData["Title"]</h1>
<hr />

@if (Model.Game == null)
{
    <h4>
        Du deltager ikke i et spil.
    </h4>
    @if (Model.ActiveGameExists)
    {
        <div class="row button-container">
            <button type="button" onclick="loadParticipateGame()" class="menubutton">Deltag i et spil</button>
        </div>
    }
    else
    {
        <h4>
            Der er ingen aktive spil.
        </h4>
    }
    <div class="row button-container">
        <button type="button" onclick="loadAddGame()" class="menubutton">Opret nyt spil</button>
    </div>
}
else
{
    <h2>@Model.Game.Name</h2>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 highscore-container">
            <div class="row" style="height: 40px; border-bottom: solid; border-width:1px; padding-top: 10px;">
                <div class="col-xs-7" style="text-align: center;">
                    Navn
                </div>
                <div class="col-xs-4" style="text-align: right;">
                    Point
                </div>
            </div>
            <div class="row" style="height: 10px;"></div>
            @foreach (var highscoreentry in Model.Highscore.HighscoreEntries)
            {
                <div class="row" style="height: 30px;">
                    <div class="col-xs-7" style="text-align: center;">
                        @highscoreentry.UserName
                    </div>
                    <div class="col-xs-4" style="text-align: right;">
                            @highscoreentry.Score
                    </div>
                </div>
            }
        </div>
    </div>
    <div style="height: 20px;"></div>

    @if (Model.Game.GameStatus == Enums.GameStatus.Finished)
    {
        <h3>
            Spillet er slut.
        </h3>
    }
    else
    {
        @if (Model.UserTurnType == Enums.TurnType.Choose || Model.UserTurnType == Enums.TurnType.ChooseOwn)
        {
            @if (Model.OtherGameCategories == null || Model.OtherGameCategories.Count() == 0)
            {
                <h4>
                    Du er i øjeblikket den eneste deltager. Vent, indtil nogen tilmelder sig.
                </h4>
            }
            else
            {
                <h4>
                    Vælg en kategori og et pointtal.
                </h4>
            }
            <form id="selectAnswerForm">
                @foreach (var gameCategory in Model.OtherGameCategories)
                {
                    <div class="category-select-container">
                        <div class="row">
                            @gameCategory.Category.Name
                        </div>
                        <div class="row">
                            @if (gameCategory.GameCategory.Won100ParticipantId == Guid.Empty)
                            {
                                <label class="category-radio-button-label active" onclick="selectAnswerQuestion(this)">
                                    100
                                    <input class="category-radio-button" asp-for="ChosenAnswerQuestionGuid" type="radio" value="@gameCategory.Category.AnswerQuestion100.Id" />
                                </label>
                            }
                            else
                            {
                                <label class="category-radio-button-label inactive">
                                    100
                                    <input class="category-radio-button" type="radio" disabled="disabled" />
                                </label>
                            }
                            @if (gameCategory.GameCategory.Won200ParticipantId == Guid.Empty)
                            {
                                <label class="category-radio-button-label active" onclick="selectAnswerQuestion(this)">
                                    200
                                    <input class="category-radio-button" asp-for="ChosenAnswerQuestionGuid" type="radio" value="@gameCategory.Category.AnswerQuestion200.Id" />
                                </label>
                            }
                            else
                            {
                                <label class="category-radio-button-label inactive">
                                    200
                                    <input class="category-radio-button" type="radio" disabled="disabled" />
                                </label>
                            }
                            @if (gameCategory.GameCategory.Won300ParticipantId == Guid.Empty)
                            {
                                <label class="category-radio-button-label active" onclick="selectAnswerQuestion(this)">
                                    300
                                    <input class="category-radio-button" asp-for="ChosenAnswerQuestionGuid" type="radio" value="@gameCategory.Category.AnswerQuestion300.Id" />
                                </label>
                            }
                            else
                            {
                                <label class="category-radio-button-label inactive">
                                    300
                                    <input class="category-radio-button" type="radio" disabled="disabled" />
                                </label>
                            }
                            @if (gameCategory.GameCategory.Won400ParticipantId == Guid.Empty)
                            {
                                <label class="category-radio-button-label active" onclick="selectAnswerQuestion(this)">
                                    400
                                    <input class="category-radio-button" asp-for="ChosenAnswerQuestionGuid" type="radio" value="@gameCategory.Category.AnswerQuestion400.Id" />
                                </label>
                            }
                            else
                            {
                                <label class="category-radio-button-label inactive">
                                    400
                                    <input class="category-radio-button" type="radio" disabled="disabled" />
                                </label>
                            }
                            @if (gameCategory.GameCategory.Won500ParticipantId == Guid.Empty)
                            {
                                <label class="category-radio-button-label active" onclick="selectAnswerQuestion(this)">
                                    500
                                    <input class="category-radio-button" asp-for="ChosenAnswerQuestionGuid" type="radio" value="@gameCategory.Category.AnswerQuestion500.Id" />
                                </label>
                            }
                            else
                            {
                                <label class="category-radio-button-label inactive">
                                    500
                                    <input class="category-radio-button" type="radio" disabled="disabled" />
                                </label>
                            }
                        </div>
                    </div>
                }
                @if (Model.OtherGameCategories.Count > 0)
                {
                    <div style="height:20px;"></div>
                    <div class="row">
                        <button type="button" onClick="selectAnswer(this)" class="menubutton has-spinner">
                            <span class="spinner"><i class="fa fa-refresh fa-spin fa-lg"></i></span>
                            <span class="btn-text">Vælg</span>
                        </button>
                    </div>
                }
                <input asp-for="Game.Id" value="@Model.Game.Id" type="hidden" />
            </form>
        }
        @if (Model.UserTurnType == Enums.TurnType.Read)
        {
            <div style="text-align: center">
                @Model.LatestCategoryChooserName har valgt din kategori @Model.UsersOwnCategory.Name til @Model.ChosenAnswerQuestionPoints point.
            </div>
            <h4>Svar:</h4>
            <div style="text-align: center; font-weight: 700;">@Model.ChosenAnswerQuestion.Answer</div>
            <h5 style="font-style: italic;">Spørgsmål:</h5>
            <div style="text-align: center; font-size: 12px; font-style: italic;">@Model.ChosenAnswerQuestion.Question</div>
            <div style="height: 14px;"></div>

            <h4>
                Vælg rundens vinder:
            </h4>

            @foreach (var user in Model.UserList)
            {
                <div class="category-list-item">
                    <div class="vertical-align">
                        <div>
                            @(user.Name)
                        </div>
                        <button style="float: right" class="smallbutton has-spinner" onclick="selectWinner('@(user.UserId)','@(Model.Game.Id)', this)">
                            <span class="spinner"><i class="fa fa-refresh fa-spin fa-lg"></i></span>
                            <span class="btn-text">Vælg</span>
                        </button>
                    </div>
                </div>
            }
        }
        @if (Model.UserTurnType == Enums.TurnType.Guess && Model.Game != null)
        {
            @if (Model.Game.UserId != null)
            {
                @if (Model.Game.LatestCategoryChooserId != null)
                {
                    @if (@Model.LatestCategoryChooserName.Last() == 's')
                    {
                        <h4>
                            Det er @(Model.LatestCategoryChooserName)' tur til at vælge kategori.
                        </h4>
                    }
                    else
                    {
                        <h4>
                            Det er @(Model.LatestCategoryChooserName)s tur til at vælge kategori.
                        </h4>
                    }
                }
                else
                {
                    <h4>
                        Det er nogens tur til at vælge kategori.
                    </h4>
                }
            }
            else
            {
                @if (@Model.CategoryOwnerName.Last() == 's')
                {
                    <h4>
                        @Model.LatestCategoryChooserName har valgt @(Model.CategoryOwnerName)' kategori @Model.ChosenCategoryName til @Model.ChosenAnswerQuestionPoints point.
                    </h4>
                }
                else
                {
                    <h4>
                        @Model.LatestCategoryChooserName har valgt @(Model.CategoryOwnerName)s kategori @Model.ChosenCategoryName til @Model.ChosenAnswerQuestionPoints point.
                    </h4>
                }
                if (Model.HasPressedEatYourNote)
                {
                    <h4>Du har trykket Æd den selv.</h4>
                }
                else
                {
                    <div class="row button-container" id="EatYourNoteButton">
                        <button type="button" onclick="eatYourNote()" class="menubutton">Æd den selv!</button>
                    </div>
                    <div id="EatYourNoteMessage" style="display: none;">
                        <div style="height: 6px;"></div>
                        <h4>Du har trykket Æd den selv.</h4>
                    </div>
                }

            }
        }
    }
}
<div id="gameBottomMargin" style="height: 30px;"></div>

<script>

</script>